
h1 {
	margin: auto  25px;
}

#calc-body {
    background-color: #999;
	border: 5px groove silver;
	border-radius: 3px;
	box-shadow: 0 0 40px black;
	color: red;
	margin: 5px;
	padding: 10px;
	display: grid;
	grid-template-areas: 
    "display display display"
    "servise-btn number-btn operator-btn"
    "footer footer footer";
	grid-template-rows:1.5fr 3fr 1fr;
	grid-template-columns:1fr 2fr 1.5fr;
	grid-gap: 1vw;
	text-align: center;

}

#calc-body>div {
	box-shadow: 10px 10px 10px #444 , 0 0 3px #666;
	border-radius: 6px;
	/*border: 1px solid black;*/
	/*border: 5px groove #4488aa;*/
	margin: 8px;
	padding: 0;
}

.mainDisplay {				/* why changes in css not apply? */
	background-color: #000;
	grid-area: display;
	display: grid;	
	grid-template-rows:  1fr;
	grid-template-columns: 1fr 1fr 2fr;
	padding: 8px;
	border: 5px groove silver;
}
input[type=text] {
	align-content: justify;
}

.input {
	background-color: #000333;
	/*border: 1px solid white;*/
	color: #3f3;
	text-shadow: 2px 2px 2px 2px black;
	margin:3px;
	padding: 3px;
	font-size: 2vw;
	height: 2.5vw;
	width: 75vw;
}

.servise, .number, .operator, .footer {
		background-color: rgba(110,180,200,.6);
}

.servise {
	grid-area: servise-btn;
	display: grid;
	grid-template-rows: repeat(8, 1fr);
	grid-template-columns: repeat(2, 1fr);
}


.number {
	grid-area: number-btn;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(3, 1fr);
	font-size:3vw;
	grid-template-areas:
	"btn btn btn"
	"btn btn btn"
	"btn btn btn"
	"btn btn delete"
	"equal equal equal";
}

.operator {
	grid-area: operator-btn;
	display: grid;
	grid-template-rows: repeat(8, 1fr);
	grid-template-columns: repeat(4, 1fr);
}

.btn {
	background-color: #4499aa;
	color: #221100;
	font-size: 1.5vw;
	/*border-radius: 5px;*/
	/*border: none;*/
	margin: 1px;
	padding: auto;
	line-height: 1.5;
	font-family: Impact, Charcoal, sans-serif;
}
.delete {
	background: red;
	grid-area: delete;
}

.equal {
	background: yellow;
	grid-area: equal;
}

.footer {
	grid-area: footer;
	display: grid;
	/*grid-template-rows:1fr 3fr 1fr;
	grid-template-columns:1fr 2fr 2fr;*/
}


